img {
    display: block;
    margin: auto;
}
.center {
    margin: auto;
    text-align: center;
    padding: 10px;
  }
body {
    margin: 25px;
    background-color: rgba(220, 220, 220, 0.300);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
h1 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    width: 360px;
    background-color: rgba(220, 220, 220, 0.300);
    padding-left: 30px
}
p {
    color:white; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(220, 220, 220, 0.300);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #f5f100;
  }
div {
    padding: 10px 0px 10px 10px;
}
div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 200px;
  }
  